.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}
