@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* Light background */
  border-radius: 0px;
  margin: 0;
  padding: 0;
}

.dark body {
  background-color: #1f2937; /* Dark background */
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.5s ease-in-out forwards;
}

.animate-pulse-slow {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

